* {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;

}

body {
  position: relative;

}

#top-info header {
  height: 837px;


}

.parte-superior {
  overflow: hidden;
  display: grid;
  grid-template-columns: 1fr 1fr;

}


#hero {

  width: 991.63px;
  height: 936.92px;
  margin-right: -335.63px;
  margin-top: -146.13px;

}

#top-left-info {
  display: grid;
  grid-template-rows: 3;
  /* display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 0; */
  margin-top: 185.57px;
  margin-left: 165px;

  width: 457px;
  height: 359px;
}

#top-left-info h1 {
  display: block;
  font-family: 'Plus Jakarta Sans';
  font-style: normal;
  font-weight: 800;
  font-size: 56px;
  line-height: 71px;
  color: #13183F;
}

#parte-superior-direita {
  display: grid;

  justify-items: end;
}


#top-left-info p {
  margin-top: 29px;
  margin-bottom: 40px;
  height: 84px;
  font-family: 'Plus Jakarta Sans';
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 28px;
  color: #83869A;
}

#logo-dark {
  margin-top: 38.75px;
  margin-left: 165.79px;
  height: 27.68px;
  width: 111.17px;
}

#button-superior-right {
  margin-top: 24px;
  margin-right: 165px;
  height: 56px;
  width: 167px;
  background-color: #13183F;
  color: #FFFFFF;
  border-radius: 28px;

  font-family: 'Plus Jakarta Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 28px;
}

#button-middle-left {
  height: 56px;
  width: 167px;
  background-image: linear-gradient(180deg, #FF6F48 0%, #F02AA6 100%);
  color: #FFFFFF;
  border-radius: 28px;

  font-family: 'Plus Jakarta Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 28px;
}

#button-bottom-right {
  height: 56px;
  width: 167px;
  background-image: linear-gradient(180deg, #4851FF -54.32%, #F02AA6 100%);
  color: #FFFFFF;
  border-radius: 28px;
  margin-right: 165px;
  margin-top: 32px;

  font-family: 'Plus Jakarta Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 28px;
}

#orange-box {
  position: relative;
  height: 322px;
  width: 350px;
  background-image: linear-gradient(180deg, #FF6F48 0%, #F02AA6 100%);
  border-radius: 15px;
}

#grid {
  background: linear-gradient(180deg, #FFFFFF 0%, #F0F1FF 100%);
  display: grid;
  justify-content: center;
  width: 1440px;
  height: 888px;
}

#content-grid {
  display: grid;
  gap: 30px;
  grid-template-columns: 1fr 1fr 1fr;

  width: 1110px;
  height: 748px;
}


#orange-box h2 {
  position: absolute;
  margin-top: 64px;
  margin-left: 32px;
  height: 120px;
  width: 286px;
  color: #FFFFFF;
  height: 120px;
  font-family: 'Plus Jakarta Sans', sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 32px;
  line-height: 40px;

}

.information-box {
  height: 346px;
  width: 350px;
  position: relative;
  background: #FFFFFF;
  box-shadow: 0px 25px 50px rgba(6, 22, 141, 0.0442381);
  border-radius: 15px;
}

.information-box img {
  margin-left: 32px;
  margin-bottom: 32px;
  width: 56px;
  height: 56px;
}

.information-box h2 {
  margin-bottom: 24px;
  margin-left: 32px;
  height: 30px;
  font-family: 'Plus Jakarta Sans';
  font-style: normal;
  font-weight: 800;
  font-size: 24px;
  line-height: 30px;
  color: #13183F;

}

.information-box p {
  color: #83869A;
  margin-left: 32px;
  height: 112px;
  width: 286px;
  font-family: 'Plus Jakarta Sans';
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 28px;
  margin-bottom: 24px;
}

.information-box button {
  margin-left: 32px;
  margin-bottom: 40px;
  height: 28px;
  font-family: 'Plus Jakarta Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 28px;
  color: #F74780;
  background-color: inherit;
}

footer {
  height: 120px;
  background-color: #13183F;
}

#rodape {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#rodape img {
  margin-top: 46.75px;
  margin-left: 165.79px;

}

/* #rodape button {
  margin-right: 170;
} */